/**
// @name        CanvasLMS - Global Custom Navigation
// @namespace   https://github.com/robert-carroll/canvaslms-global-custom-navigation
// @description items only, css for global custom nav
//
**/

/* global custom nav - items */
i.gcn_inst_menu_icon:before {
  font-size: 32px;
  width: 32px;
  line-height: 32px;
}

i.gcn_inst_menu_icon {
  width: 32px;
  height: 32px;
  font-style: bold;
}

i.gcn_inst_rspv_icon {
  color: var(--ic-brand-primary);
}

.gcn_icon_svg {
  width: 32px !important;
  height: 32px !important;
  font-style: bold;
}