/**
// @name        CanvasLMS - Global Custom Navigation
// @namespace   https://github.com/robert-carroll/canvaslms-global-custom-navigation
// @description css for global custom nav
//
**/

/* global custom nav - items */
i.gcn_inst_menu_icon:before {
  font-size: 1.625rem;
}

i.gcn_inst_rspv_icon {
  color: var(--ic-brand-primary);
}

/* font in trays */
:root {
  --gcn-ic-font: LatoWeb, "Lato Extended", Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*
  from instui/canvas:
  react .css-ab1c2d-* 
  renamed .css-instui-*
  then .gcn-instui-*
*/
.gcn-instui-tray {
  background-color: rgb(255, 255, 255);
  position: fixed;
  overflow: hidden auto;
  box-sizing: border-box;
  z-index: 9999;
  max-width: 100vw;
  max-height: 100vh;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0.375rem 0.4375rem, rgba(0, 0, 0, 0.25) 0px 0.625rem 1.75rem;
  top: 0px;
  bottom: 0px;
  width: 28em;
}

[dir='ltr'] .gcn-instui-tray {
  left: 0px;
  right: auto;
}

[dir='rtl'] .gcn-instui-tray {
  right: 0px;
  left: auto;
}

.gcn-instui-tray__content {
  min-height: 100vh;
}

.gcn-instui-tray-slide-left-transitioning, 
.gcn-instui-tray-slide-right-transitioning {
  transition: opacity 300ms ease-in-out, transform 300ms ease-in-out !important;
}

.gcn-instui-tray-slide-left-entering, 
.gcn-instui-tray-slide-left-entered, 
.gcn-instui-tray-slide-right-entering, 
.gcn-instui-tray-slide-right-entered {
  transform: translate3d(0, 0, 0) !important;
  opacity: 1 !important;
}

.gcn-instui-tray-slide-left-exiting, 
.gcn-instui-tray-slide-left-exited {
  transform: translate3d(-100%, 0, 0) !important;
  opacity: 0.01 !important;
}

.gcn-instui-tray-slide-right-exiting, 
.gcn-instui-tray-slide-right-exited {
  transform: translate3d(100%, 0, 0) !important;
  opacity: 0.01 !important;
}

.gcn-instui-closeButton {
  z-index: 1;
  display: inline-block;
  position: absolute;
  top: 0.5rem;
}

[dir='ltr'] .gcn-instui-closeButton {
  right: 0.5rem;
  left: auto;
}

[dir='rtl'] .gcn-instui-closeButton {
  left: 0.5rem;
  right: auto;
}

.gcn-instui-view--inlineBlock-baseButton {
  margin: 0px;
  padding: 0px;
  transition: outline-color 0.2s, outline-offset 0.25s;
  outline-offset: -0.8rem;
  outline: rgba(43, 122, 188, 0) solid 0.125rem;
  width: auto;
  cursor: pointer;
  box-sizing: border-box;
  font-family: var(--gcn-ic-font);
  max-width: 100%;
  vertical-align: middle;
  color: rgb(39, 53, 64);
  background: none;
  position: relative;
  appearance: none;
  text-decoration: none;
  border-radius: 0.25rem;
  height: fit-content;
  overflow: visible;
  display: inline-block;
  border-width: 0px;
  overscroll-behavior: auto;
  touch-action: manipulation;
}

.gcn-instui-view--inlineBlock-baseButton:hover, 
.gcn-instui-view--inlineBlock-baseButton:active {
  outline-offset: -0.8rem;
  outline: rgba(43, 122, 188, 0) solid 0.125rem;
}

.gcn-instui-view--inlineBlock-baseButton:focus {
  outline-offset: calc(0.1875rem);
  outline-color: var(--ic-link-color);
}

.gcn-instui-baseButton__content {
  box-sizing: border-box;
  width: 1.75rem;
  display: block;
  direction: inherit;
  user-select: none;
  transition: background 0.2s, transform 0.2s;
  transform: none;
  font-family: var(--gcn-ic-font);
  font-weight: 400;
  text-transform: none;
  letter-spacing: normal;
  border-style: none;
  border-width: 0.0625rem;
  border-radius: 0.25rem;
  line-height: 1;
  text-align: start;
  font-size: 0.875rem;
  padding-left: 0px;
  padding-right: 0px;
  height: 1.75rem;
  color: rgb(39, 53, 64);
  border-color: rgb(39, 53, 64);
  background: transparent;
  box-shadow: none;
}

.gcn-instui-baseButton__childrenLayout {
  display: flex;
  height: 100%;
  width: 100%;
  -moz-box-pack: center;
  justify-content: center;
  box-sizing: border-box;
  -moz-box-align: center;
  align-items: center;
  flex-direction: row;
  max-width: 100%;
  overflow: visible;
  unicode-bidi: isolate;
}

.gcn-instui-view--inlineBlock-baseButton * {
  pointer-events: none;
}

.gcn-instui-baseButton__iconOnly {
  box-sizing: border-box;
  min-width: 0.0625rem;
  flex-shrink: 0;
  max-width: 100%;
  overflow: visible;
  unicode-bidi: isolate;
}

.gcn-instui-baseButton__iconSVG {
  display: flex;
  -moz-box-align: center;
  align-items: center;
  font-size: 1rem;
}

.gcn-instui-inlineSVG-svgIcon {
  fill: currentcolor;
  display: inline-block;
  overflow: visible;
  color: inherit;
  vertical-align: middle;
  line-height: 1;
  width: 1em;
  height: 1em;
}

.gcn-instui-view {
  padding: 1.5rem;
  transition: outline-color 0.2s, outline-offset 0.25s;
  outline-offset: -0.8rem;
  outline: rgba(43, 122, 188, 0) solid 0.125rem;
}

.gcn-instui-view-heading {
  box-sizing: border-box;
  max-width: 100%;
  overflow: visible;
  overscroll-behavior: auto;
  line-height: 1.25;
  margin: 0px;
  font-family: var(--gcn-ic-font);
  font-size: 1.375rem;
  font-weight: 700;
  color: inherit;
  transition: outline-color 0.2s, outline-offset 0.25s;
  outline-offset: -0.8rem;
  outline: rgba(43, 122, 188, 0) solid 0.125rem;
}

.gcn-instui-view--block-list {
  margin: 0.75rem 0px;
  transition: outline-color 0.2s, outline-offset 0.25s;
  outline-offset: -0.8rem;
  outline: rgba(43, 122, 188, 0) solid 0.125rem;
  box-sizing: border-box;
  font-family: var(--gcn-ic-font);
  max-width: 100%;
  overflow: visible;
  display: block;
  overscroll-behavior: auto;
  padding-inline: 0px;
  list-style-type: none;
}

.gcn-instui-view-listItem:first-of-type {
  margin-top: 0px;
}

.gcn-instui-view-listItem {
  box-sizing: border-box;
  max-width: 100%;
  overflow: visible;
  overscroll-behavior: auto;
  font-weight: 400;
  font-family: var(--gcn-ic-font);
  line-height: 1.5;
  color: rgb(39, 53, 64);
  padding: 0px;
  font-size: 1rem;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  transition: outline-color 0.2s, outline-offset 0.25s;
  outline-offset: -0.8rem;
  outline: rgba(43, 122, 188, 0) solid 0.125rem;
}

.gcn-instui-view-link {
  transition: outline-color 0.2s, outline-offset 0.25s;
  outline-offset: -0.8rem;
  outline: rgba(43, 122, 188, 0) solid 0.125rem;
}

.gcn-instui-view-link:is(a), 
.gcn-instui-view-link:is(button) {
  box-sizing: border-box;
  font-family: var(--gcn-ic-font);
  font-weight: 400;
  transition: outline-color 0.2s;
  vertical-align: baseline;
  outline-color: transparent;
  outline-offset: 0.25rem;
  text-underline-offset: auto;
  cursor: pointer;
  color: var(--ic-link-color);
  text-decoration: none;
}

.gcn-instui-view-link:focus {
  outline-offset: calc(0.1875rem);
  outline-color: var(--ic-brand-primary);
}

.gcn-instui-view-link:is(a):focus, 
.gcn-instui-view-link:is(button):focus {
  border-radius: 0.125rem;
}

.gcn-instui-text {
  font-family: var(--gcn-ic-font);
  letter-spacing: 0px;
  font-size: 1rem;
}

.gcn-instui-text {
  font-family: var(--gcn-ic-font);
  letter-spacing: 0px;
  font-weight: 300;
  font-size: 0.75rem;
}

.gcn-instui-text-footer {
  font-family: var(--gcn-ic-font);
  letter-spacing: 0px;
  font-size: 1rem;
}

.gcn-instui-screenReaderContent {
  width: 0.0625rem !important;
  height: 0.0625rem !important;
  margin: -0.0625rem !important;
  padding: 0px !important;
  position: absolute;
  top: 0px;
  inset-inline-start: 0px;
  white-space: nowrap;
  overflow: hidden !important;
  clip: rect(0px, 0px, 0px, 0px) !important;
  border: 0px !important;
}

/* for rspv trays */
div.gcn-tray-rspv-expand {
  display: block !important;
}

svg.gcn-tray-rspv-closed {
  display: none !important;
}

svg.gcn-tray-rspv-aodown {
  fill: currentcolor;
  display: inline-block;
  overflow: visible;
  color: inherit;
  vertical-align: middle;
  line-height: 1;
  width: 1em;
  height: 1em;
}

/* common - for callback trays and throwbacks */
/* instui spinner for callback trays and throwbacks */
.gcn_tray-view-spinner {
  max-width: 100%;
  overscroll-behavior: auto;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  width: 3em;
  height: 3em;
}

.gcn_tray-spinner__circle {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  animation-name: gcn-spinner-rotate;
  animation-duration: 2.25s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  width: 3em;
  height: 3em;
}

.gcn_tray_throwback-spinner__circle {
  display: block;
  animation-name: gcn-spinner-rotate;
  animation-duration: 2.25s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  width: 3em;
  height: 3em;
}

.gcn_tray-spinner__circleTrack {
  stroke: rgb(245, 245, 245);
  fill: none;
  stroke-width: 0.375em;
}

.gcn_tray-spinner__circleSpin {
  fill: none;
  stroke-linecap: round;
  animation-name: gcn-spinner-morph;
  animation-duration: 1.75s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  stroke-width: 0.375em;
  stroke-dasharray: 6em;
  transform-origin: calc(1.5em) calc(1.5em) 0px;
  stroke: var(--ic-brand-primary);
}

@keyframes gcn-spinner-rotate {
  to {
    transform: rotate(360deg)
  }
}

@keyframes gcn-spinner-morph {
  0% {
    stroke-dashoffset: 190%;
  }

  50% {
    stroke-dashoffset: 50%;
    transform: rotate(90deg);
  }

  100% {
    stroke-dashoffset: 190%;
    transform: rotate(360deg);
  }
}